{% extends "base.html" %}

{% block content %}
<section class="text-center py-10">
    <h1 class="text-4xl text-white">
        <span style="font-family: 'Titan One', cursive;">Notion</span> 
    </h1>
</section>
<section class="bg-color-white, cr-25">
    <iframe src="https://highfalutin-icon-2da.notion.site/ebd/1c5cc172039980b9902ac96a2aaecc65?v=1c5cc172039980ddb65d000cfb41b29d" width="100%" height="600" frameborder="0" allowfullscreen 
    width="100%" 
        height="600" 
        frameborder="0" 
        allowfullscreen 
        style="border-radius: 15px;" 
    >
    </iframe>
</section>
{% endblock %}